/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* norse-bold - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Norse Bold';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Norse-Bold\(1\).otf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: 'Inter';
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
  width: 60ch;
  max-width: 100%;
  line-height: calc(1ex / 0.32);
  text-align: justify;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-family: 'Norse Bold';
  font-size: 3rem;
  text-shadow: -2px 2px 0 #000, -2px 2px 0 #2d3e52, -2px 2px 0 #2d3e52,
    -2px 2px 0 #2d3e52;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

section {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

section::before {
  content: '';
  background: rgb(63, 88, 110);
  background: linear-gradient(
    0deg,
    rgba(63, 88, 110, 1) 0%,
    rgba(75, 117, 132, 1) 35%,
    rgba(98, 213, 196, 1) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  pointer-events: none;
}

.image-section {
  flex-direction: column;
}

.form-section {
  flex-basis: 70%;
  flex-direction: column;
  background-color: #2d3e52;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.form-section p:nth-child(2) {
  margin-top: 24px;
}

.image-section {
  flex-grow: 1;
  background-color: #62d5c4;
}

form {
  display: flex;
  gap: 24px;
  flex: 1 1 100%;
  flex-wrap: wrap;
  max-width: 500px;
  margin-top: 24px;
}

form div {
  flex: 1 1 calc(50%-24px);
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

input {
  all: unset;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 8px;
  margin: 0px;
  background-color: white;
  color: black;
}

label {
  margin-bottom: 8px;
}

input:invalid {
  border: 2px solid #ff4d4d;
}

input:valid {
  border: 2px solid #66bb6a;
}

input:focus {
  border: 2px solid #4a90e2;
}

a {
  color: #4a90e2;
}
